@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500&family=Poppins:wght@100;200;300;400;500;600&display=swap');


:root {
    --clr-primary-text: #011804;
    --clr-secondary-background: #ebfeee;
    --clr-primary-button: #058f4f;
    --clr-secondary-button: #d8fddc;
    --clr-accent: #06a75c;

    --fs-100: clamp(0.63rem, calc(0.84rem + -0.27vw), 0.78rem);
    --fs-200: clamp(0.88rem, calc(0.96rem + -0.09vw), 0.94rem);
    --fs-300: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
    --fs-400: clamp(1.35rem, calc(1.20rem + 0.73vw), 1.77rem);
    --fs-500: clamp(1.62rem, calc(1.31rem + 1.53vw), 2.50rem);
    --fs-600: clamp(1.94rem, calc(1.39rem + 2.77vw), 3.53rem);
    --fs-700: clamp(2.33rem, calc(1.41rem + 4.63vw), 5.00rem);
    --fs-800: clamp(2.80rem, calc(1.32rem + 7.42vw), 7.07rem);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

html {
    /* color-scheme: light dark; */
    font-family: 'Alegreya Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.logo-pics {
    width: 2rem;
    height: 3rem;
}

header.primary-header {
    position: fixed;
    width: 100%;
    z-index: 5;
    height: 10vh;
    background-color: var(--clr-secondary-button);
    display: flex;
    align-items: center;
}

.desktop-container {
    width: 100%;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-part {
    gap: 0.5rem;
    display: flex;
    align-items: center;
}

.logo-part a {
    display: block;
}

.primary-navigation {
    gap: 1rem;
    display: flex;
    align-items: center;
}

.dropbtn {
    border: none;
    color: #011804;
    font-weight: 500;
    font-size: var(--fs-300);
    border-radius: 15px;
    background-color: #12d77b;
    padding: 0.5rem 1rem;
}

.primary-navigation a {
    color: #011804;
    font-weight: 500;
    text-decoration: none;
}

.primary-navigation a:hover, .dropdown:hover .dropbtn {
    padding: 0.5rem 1rem;
    border-radius: 15px;
    background-color: #058f4f;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 15px;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}
  
  .dropdown:hover .dropdown-content {
    display: block;
}

.mobile-container {
    display: none;
}

main.home-main {
    top: 10vh;
    /* position: absolute; */
    padding: 10vh 6rem;
    background-color: beige;
}

.firstSec {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
}

.tagButton {
    padding-bottom: 1.3rem;
}

.tagline h1 {
    font-size: var(--fs-600);
    text-align: left;
    line-height: 130%;
    padding-bottom: 1rem;
}

.tagline h1 span {
    text-decoration: underline;
    text-decoration-color: #058f4f;
    text-decoration-thickness: 4px;
    text-underline-position: from-font;
    text-underline-offset: 3px;
}

.tagline p {
    text-align: left;
    line-height: 150%;
    padding-bottom: 1rem;
}

.homeButton {
    width: 60%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.homeButton button {
    font-size: var(--fs-200);
    font-weight: 600;
    padding: 0.6rem 1.2rem;
    border: 2px solid green;
    border-radius: 10px;
    background-color: #06a75c;
}

.video-message {
    width: 100%;
    height: 360px;
    border-radius: 10px;
    overflow: hidden; 
    display: flex;
    justify-content: center;
    align-items: center;
}

video {
    width: 90%;
    height: 360px;
    border-radius: 10px;
    object-fit: contain;
}

.firstArt {
    padding-bottom: 1.3rem;
}

.artText {
    padding-bottom: 3rem;
}

.artText h1 {
    padding-bottom: 1rem;
}

.group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-direction: row;
    margin: 0 auto;
}

.flip-card-front {
    width: 300px;
    height: 300px;
}

.flip-card-front img {
    height: 100%;
    object-fit: cover;
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    padding: 0 0.7rem;
    background-color: #29b941;
    color: white;
    transform: rotateY(180deg);
  }

  .Grow-Eat {
    padding: 2rem 0;
  }

  .Grow-Eat h1{
    padding: 1rem 0;
  }

  .grow-initiative {
    width: 100%;
    gap: 1.5rem;
    display: flex;
    align-items: center;
  }

  .img-grow {
    width: 50%;
    height: 250px;
  }

  .img-grow img {
    height: 100%;
    object-fit: contain;
    }

  .grow-int-text {
    width: 50%;
    padding-left: 1rem;
    border-left: 4px solid #058f4f;
  }

.join-growUs h1{
    padding: 2.5rem 0;
}

.joinus {
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
    flex-wrap: wrap;
}

/* .joinus h1 {
    display: block;
    text-align: center;
} */

.join-card {
    width: 400px;
    height: 400px;
    background-color: #12d77b;
    border: 2px solid black;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0.5rem 1rem;
    border-radius: 15px;
}

.graphic-garden {
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    border: 2px solid green;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: auto; */
}

.graphic-garden img {
    width: 100%;
}

.graphic-text {
    padding-top: 1rem;
    text-align: center;
}

input[type=text], select, textarea, input[type=email] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  /* select {
      width: ;
  } */
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 20%;
    margin-bottom: 50px;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  .contactUs-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    padding: 1rem 0rem;
  }

  .contactUs-page h1{
    padding: 2rem 0rem;
  }

.togethercontactUs {
    width: 70%;
}

/* .contactUs-text {
    width: 50%;
}

.contactUsForm {
    width: 50%;
} */

.company-word {
    padding: 1rem 0;
    gap: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.company-tag p {
    padding-left: 1rem;
    border-left: 4px solid #058f4f;
}

footer {
    height: 15vh;
    width: 100%;
    background-color: #058f4f;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.quick-links {
    gap: 1.5rem;
    display: flex;
    align-items: center;
}

.quick-links ul li{
    list-style: none;
}

.quick-links ul li a{
    color: black;
    font-weight: bold;
    color: white;
    text-underline-offset: 2px;
}

#madetech-footer-social-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#social-icons > li {
    display: inline-block;
    list-style: none;
    padding-right: 10px;
}

#social-icons > .github-icon {
    padding-right: 0px;
}

.social-icons-list > i {
    font-size: 40px;
    color: white;
}

/* ############################### */


#top {
    text-align: center;
    padding: 18px 0px;
    font-size: 30px;
    font-weight: normal;
    font-size: 20px;
    font-weight: bold;
}

.nav-link {
    color: black;
    padding: 10px;
    margin: 5px;
    text-decoration: none;
}

#first {
    border-top: none;
}

.numbers /*li*/ {
    padding: 10px;
    display: block;
    list-style: none;
    border-top: 2px solid rgb(206, 82, 82);
}


#navbar {
    height: 100%;
    width: 20%;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 80px;
    overflow: hidden;
    overflow-x: hidden;
    border-right: 2px solid;
    border-color: darkolivegreen;
    background-color: #c9fdce;
}

.letters {
    /* height: 88%; */
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
    border: none;
}

/* For learning */


.learn-main {
    /* top: 10vh; */
    /* position: relative; */
    width: 80%;
    margin-left: 20%;
}

.banner-header {
    width: 100%;
    /* margin-left: 25%; */
    height: 350px;
}

/* .banner-header-1 {
    height: 350px;
    width: 100%;
} */

.banner-header img {
    height: 100%;
    object-fit: cover;
}

.learn-content {
    line-height: 2rem;
    width: 80%;
    margin: 0 auto;
    padding: 4rem 2rem;
    background-color: rgb(172, 241, 172);
}

.learn-page-content {
    padding-bottom: 3rem;
}

#garden-list li {
    list-style: none;
}

#garden-list li a{
    color: var(--clr-primary-text);
}

.learn-note-style {
    color: var(--clr-primary-button);
    font-weight: bold;
    text-decoration: underline;
    font-size: var(--fs-300);
}

#start-gardening {
    padding-bottom: 3rem;
}

#start-gardening p{
    padding-bottom: 1rem;
}

#tools-you-need {
    padding-bottom: 3rem;
}

#tools-you-need p, 
#gardening-tips p,
#tools-you-need ul {
    padding-bottom: 1rem;
}

.tools-need-style {
    text-decoration: underline;
    font-weight: bold;
}

#gardening-tips {
    padding-bottom: 3rem;
}


/* kids learn */
.intro-kids-text{
    padding: 1rem 2rem;
}

.intro-kids-text h2{
    text-align: center;
    text-decoration: underline;
    padding-bottom: 1rem;
}

.intro-kids-text p{
    padding-bottom: 1rem;
}

.intro-kids-text ol{
    padding-left: 2rem;
}

#crops-details {
    padding-top: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background-color: #ccc; */
}

#crops-details h1{
    font-size: var(--fs-400);
    text-align: center;
    text-decoration: underline;
    padding-bottom: 1rem;
}

.kids-learn {
    margin-bottom: 50px;
    background-color: #c9fdce;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    height: 450px;
    width: 90%;
    align-items: center;
    /* border: 2px solid red; */
    border-radius: 15px;
    overflow: hidden;
    font-size: 1rem;
}

.visual-part {
    width: 45%;
    height: 100%;
}

.visual-part img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.crop-instruction {
    width: 55%;
    height: 100%;
    /* border: 2px solid green; */
    padding-top: 1rem;
    overflow-y: scroll;
}

.grow-process {
    padding-top: 1rem;
}


/*  disability learn */
.disability-section-style {
    width: 60%;
}

.disable-garden {
    line-height: 2.5rem;
    padding-bottom: 3rem;
}

.dis-style ul li{
    list-style: none;
}

.tools-youtube {
    width: 100%;
    height: 400px;
}

.tools-youtube iframe{
    width: 100%;
    height: 100%;
}

.tools-scroll-img {
    background-color: #dffce3;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
}

.tools-scroll-img img {
    padding: 10px;
}





@media screen and (max-width: 600px) {
    .desktop-container {
        display: none;
    }

    .mobile-container {
        width: 100%;
        display: block;
    }

    .mobileNav {
        height: 10vh;
        padding: 0 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #menuIcon {
        width: 45px;
        cursor: pointer;
        z-index: 2;
    }
    
    .menu-box {
        width: 0;
        height: 0;
        background: rgba(0, 0, 0, 0.8);
        position: fixed;
        top: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        z-index: 5;
        border-bottom-left-radius: 100%;
        transition: width 0.5s, height 0.5s, border-radius 0.5s;
    }
    
    .menu-box.open-menu {
        width: 100%;
        height: 100vh;
        border-bottom-left-radius: 0;
    }
    
    .menu-box.open-menu ul li{
       opacity: 1;
       transform: translateY(0);
       transition: transform 1s, opacity 1s;
       transition-delay: 0.5s;
    }
    
    .menu-box ul li {
        list-style: none;
        margin: 20px;
        text-align: center;
    
        opacity: 0;
       transform: translateY(30px);
    }
    
    .menu-box ul li a {
        display: inline-block;
        text-decoration: none;
        color: #06a75c;
        font-size: 50px;
        font-weight: 600;
        position: relative;
        text-shadow: 0 0 0 rgb(255, 255, 255);
        transition: text-shadow 0.5s, transform 0.5s;
    }
    
    .menu-box ul li a:hover {
        text-shadow: -3px 3px 0 rgb(255, 255, 255);
        transform: translateY(-6px);
    }
    
    .menu-box ul li a::after {
        content: '';
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #06a75c;
        position: absolute;
        bottom: 19px;
        right: -18px;
        opacity: 0;
        box-shadow: 0 0 0 #ffffff;
        transition: box-shadow 0.5s;
    }
    
    .menu-box ul li a:hover::after {
        opacity: 1;
        box-shadow: -2px 2px 0 #ffffff;
    }

    .firstSec {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    main.home-main {
        padding: 10vh 1rem;
    }

    /* group picture. */
    .group {
        display: flex;
        align-items: center;
        gap: 1rem;
        flex-direction: column;
    }

    /* Grow what you eat */  
  .grow-initiative {
        width: 100%;
        gap: 1.5rem;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .img-grow {
        width: 100%;
        height: 250px;
    }

    
    .img-grow img {
        height: 250px;
        object-fit: fill;
        border-radius: 15px;
        overflow: hidden;
    }
    
    .grow-int-text {
        width: 100%;
        padding-left: 1rem;
        border-left: 4px solid #058f4f;
    }

    
    .joinus {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .join-card {
        width: 300px;
        height: fit-content;
        background-color: #12d77b;
        border: 2px solid black;
        margin: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0.5rem 1rem;
        border-radius: 15px;
    }

    .graphic-garden {
        width: 100px;
        height: 100px;
        background-color: white;
        border-radius: 50%;
        border: 2px solid green;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .graphic-garden img {
        width: 100%;
    }

    .graphic-text {
        padding-top: 1rem;
        text-align: center;
    }

    .togethercontactUs {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .contactUs-text, .contactUsForm {
        width: 100%;
    } 

    .company-word {
        gap: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    .company-tag p {
        padding-left: 1rem;
        border-left: 4px solid #058f4f;
    }

    .banner-header {
        height: 250px;
        width: 100%;
        margin-left: 0;
    }

    .learn-main {
        top: 43.5vh;
        /* position: relative; */
        width: 100%;
        margin-left: 0;
    }

    .intro-kids-text {
        padding: 17vh 2rem;
    }

    #crops-details {
        padding: 50px 0;
        width: 100%;
        margin-left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        /* background-color: #ccc; */
    }

    #top {
        width: 100%;
        margin: 0px auto;
        text-align: center;
        padding: 18px 0px;
        font-size: 30px;
        font-weight: normal;
        margin-left: 10px;
        margin-top: 20px;
        font-size: 20px;
        font-weight: bold;
    }
    
    #navbar {
        display: none;
    }

    #mobile-navbar {
        overflow: scroll;
        background-color: #c9fdce;
        overflow: hidden;
        top: 10vh;
        width: 100%;
        position: fixed;
        height: 33.5vh;
        z-index: 2;
        overflow-x: hidden;
    }
    
    .letters {
        width: 100%;
        padding: 0;
        height: 210px;
        overflow-y: auto;
        overflow-x: hidden;
        border: 2px solid rgb(0, 0, 0);
    }
    
    .nav-link {
        color: black;
        padding: 10px;
        margin: 5px;
        text-decoration: none;
    }
    
    #first {
        border-top: none;
    }
    
    .numbers {
        padding: 10px;
        display: block;
        list-style: none;
        border-top: 2px solid rgb(206, 82, 82);
    }

    .kids-learn {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        height: auto;
    }

    .visual-part {
        width: 100%;
        height: 100%;
    }


    .crop-instruction {
        width: 90%;
        height: 100%;
        margin: 0 auto;
        margin-bottom: 1rem;
        /* border: 2px solid green; */
    }

    .learn-content {
        width: 100%;
    }

    .tools-scroll-img {
        background-color: #dffce3;
        overflow: auto;
        white-space: nowrap;
        padding: 10px;
    }
    
    .tools-scroll-img img {
    padding: 10px;
    }


    .tools-youtube {
        width: 100%;
        height: 300px;
    }
    
    .tools-youtube iframe{
        width: 100%;
        height: 100%;
    }
}



















@media screen and (max-width: 1024px) {
    .firstSec {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 1.3rem;
        padding-bottom: 1.3rem;
        flex-wrap: nowrap;
    }

    .group {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        flex-direction: column;
        margin: 0 auto;
        flex-wrap: nowrap;
    }

    .grow-initiative {
        width: 100%;
        gap: 1.5rem;
        display: flex;
        align-items: center;
        flex-direction: column;
    }


    .grow-int-text {
        width: 90%;
        padding-left: 1rem;
        border-left: 4px solid #058f4f;
    }

    .img-grow {
        width: 80%;
    }
}


@media screen and (min-width: 600px) {
    #mobile-navbar {
        display: none;
    }
}


